.dog-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    padding: var(--spacing-medium);
    text-align: center;
    box-sizing: border-box;
}

.dog-details img {
    max-width: 100%;
    height: auto;
    border-radius: var(--image-border-radius);
    box-shadow: var(--card-shadow);
    margin-bottom: var(--spacing-medium);
}

.dog-details h1 {
    font-size: var(--heading-font-size);
    margin-bottom: var(--spacing-small);
}

.dog-details p {
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-small);
}

@media (min-width: 768px) {
    .dog-details {       
        padding: var(--spacing-large);
    }
}
