/* Form Styling */
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-page h1 {
  font-size: 1.5rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 15px;
}

.form-group {
  margin-bottom: 20px; /* Behåll utrymme mellan varje form-grupp */
}

label {
  margin-bottom: 5px; /* Öka avståndet mellan label och input */
  display: block; /* Se till att label är block-level för att ta upp hela bredden */
}

input {
  padding: 12px; /* Alternativ: öka padding om du vill ha större inmatningsfält */
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 12px; /* Ge knappen lite mer padding också för konsekvent design */
  background-color: var(--color-primary);
  width: 100%;
}

button:hover {
  background-color: var(--primary-hover-color);
}

/* Larger screen adjustments */
@media (min-width: 768px) {    
  .register-page h1 {
    font-size: 2.5rem;
  }
}

