/* Mobile-first styling */

.dog-list {
    display: flex;
    flex-wrap: wrap;  /* Gör att korten radbryts när det inte finns plats */
    justify-content: center;  /* Centrerar korten */
    gap: 10px;  /* Mellanrum mellan korten */
    padding: 10px;
}