/* Sidebar Styling */
.sidebar {
    width: var(--sidebar-width);
    height: calc(var(--vh, 1vh) * 100); /* Använd dynamisk viewport-höjd */
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar p {
    color: #efefef;
}

/* Sidebar links */
.sidebar-links {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar-links li {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-links li a {
    text-decoration: none;
    color: var(--sidebar-text-color);
    font-size: 0.9rem;
    display: block;
    padding: 10px 0;
}

.sidebar-links li a p {
    margin-top: 5px;
}

.sidebar-links li a:hover {
    transform: scale(1.1);
}

.sidebar-links li svg {
    font-size: 36px;
}

.home-icon {
    color: #298ffd;
}

.dog-icon {
    color: #fe8e75;
    /* Orange */
}

.register-icon {
    color: #54e476;
    /* Grön */
}

.report-icon {
    color: #dd515f;
    /* Röd */
}

@media (min-width: 768px) {
    .sidebar {
        width: 150px;
    }

    .sidebar-links li a {
        font-size: 1rem;
    }

    .sidebar-links li svg {
        font-size: 48px;
    }

    .main-content {
        margin-left: 150px;
        padding: 20px;
        width: calc(100% - 150px);
    }

    button {
        width: auto;
        margin: 0 10px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .sidebar {
        width: 80px; /* Minska bredden i liggande läge */
    }

    .sidebar-links li a p {
        display: none; /* Dölj texten för att spara utrymme */
    }

    .sidebar-links li svg {
        font-size: 24px; /* Minska storleken på ikonerna */
    }
    
    .main-content {
        margin-left: 80px; /* Anpassa huvudinnehållet till den nya sidebar-bredden */
        width: calc(100% - 80px);
    }
}
