/* Sidebar Styling */
.sidebar {
    width: var(--sidebar-width); /* Variabel för sidebarens bredd */
    height: 100vh; /* Full höjd för sidebaren */
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
  }

/* Sidebar logo */
.sidebar-logo img {
    width: 80px; /* Justera loggans storlek */
    height: auto;
    margin-bottom: 20px;
  }

/* Sidebar links */
.sidebar-links {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  .sidebar-links li {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrera ikoner och text */
  }
  
  .sidebar-links li a {
    text-decoration: none;
    color: var(--sidebar-text-color);
    font-size: 0.9rem; /* Justera textstorleken för länkarna */
    display: block;
    padding: 10px 0;
  }

.sidebar-links li a p {
    margin-top: 5px;
}

.sidebar-links li a:hover {
   transform: scale(1.1);
}

/* Gör ikonerna större */
.sidebar-links li svg {
    font-size: 36px; /* Justera ikonernas storlek */
  }


/* För större skärmar */
@media (min-width: 768px) {
    .sidebar {
        width: 150px; /* Återställ sidebar-bredd för större skärmar */
    }

    .sidebar-logo img {
        width: 80px;
    }

    .sidebar-links li a {
        font-size: 1rem; /* Större text för ikoner */
    }

    .sidebar-links li svg {
        font-size: 36px;
    }

    .main-content {
        margin-left: 150px;
        padding: 20px;
        width: calc(100% - 150px);
    }

    button {
        width: auto;
        margin: 0 10px;
    }
}
