/* General/global styles */
:root {
  --font-family: 'Poppins', Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
  --font-size-large: 2rem;
  --color-primary: #007bff;
  --color-secondary: #333;
  --color-background: #fefefe;
  --color-button-bg: #007bff;
  --color-button-hover-bg: #0056b3;
  --color-text: #333;
  --color-button-text: #fff;
  --sidebar-bg: #2c3e50;
  --sidebar-text-color: #ecf0f1;
  --sidebar-link-hover: #3498db;
  --sidebar-width: 100px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

#root {
  width: 100%;
  margin: 0;
}

.App {
  display: flex;
}

.main-content {
  margin-left: var(--sidebar-width);
  padding: 20px;
  width: calc(100% - var(--sidebar-width));
}

h1 {
  font-size: var(--font-size-large);
  line-height: 1.2;
  color: var(--color-secondary);
}
